/* Essencial */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-container{
    padding: 5%;
    width: 100%;
    height: 100vh;
}
body header .offcanvas{
    background: #0e2238;
}
body header .btn{
    background: #0e2238;
}
body header div div div .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}
body header div div div .titulo img {
    width: 50%;
}
body header .position-fixed{
    z-index: 1;
}
.lista{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.lista li{
    margin-bottom: 10%;

}
.lista li a{
    font-size: 1.5vw;
    text-decoration: none;
    color: white;
}
.imagem{
    width: 30%;
    margin: auto;
}
.imagem img{
    width: 100%;
    margin: auto;
}
.bolinha{
    width: 1%;
    background: red;
    padding: 1%;
    color: white;
    border-radius: 20px;
}
.conteudo{
    margin-top: 10%;
}
.conteudo a{
    text-decoration: none;
    color: white;
    background: red;
    padding: 0.5% 5%;
    border: 1px solid black;
    border-radius: 13px;
}
.saiba-mais{
    width: 30%;
    margin-top: 5%;
}
.saiba-mais a{
    text-decoration: none;
    color: white;
    background: #0e2238;
    padding: 0.5% 5%;
    border: 1px solid black;
    border-radius: 13px;
    padding: 8%;
}
#selecionado{
    background: #24578e;
    padding: 10%;
    border: 2px solid white;
    border-radius: 15px;
}
body header header .alert{
    width: 90%;
    margin: auto;
}
.final{
    display: flex;
    align-items: center;
    justify-content: space-around;
}






@media (min-width: 1px) and (max-width: 850px) {
    .lista li a{
        font-size: 6vw;
    }
    .imagem{
        width: 100%;
    }
    body header header .alert{
        width: 70%;
    }
    p {
        font-size: 4vw;
    }
}